In [1]:
import numpy as np
import pandas as pd

data= pd.read_csv("spam.csv")  
data
#here 'spam.csv' is a file the consist all spam and non spam mail messages.
#download the file and place it in jupiternotebook. then try to read the file using above code.

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [2]:
data.columns # this code line is to print coloumn names.

Index(['Category', 'Message'], dtype='object')

In [3]:
data.info() # this code line is to print no.of rows in each coloumn. 
# there are 5572 rows in each coloumn without any empty values.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5572 non-null   object
 1   Message   5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [4]:
# Now, to make it easy. we want to create new row called 'spam'
# If the category of message is 'spam' ==> assign '1'. if 'ham' ==> assign '0'

data['Spam']=data['Category'].apply(lambda x:1 if x=='spam' else 0)
data

     Category                                            Message  Spam
0         ham  Go until jurong point, crazy.. Available only ...     0
1         ham                      Ok lar... Joking wif u oni...     0
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3         ham  U dun say so early hor... U c already then say...     0
4         ham  Nah I don't think he goes to usf, he lives aro...     0
...       ...                                                ...   ...
5567     spam  This is the 2nd time we have tried 2 contact u...     1
5568      ham               Will ü b going to esplanade fr home?     0
5569      ham  Pity, * was in mood for that. So...any other s...     0
5570      ham  The guy did some bitching but I acted like i'd...     0
5571      ham                         Rofl. Its true to its name     0

[5572 rows x 3 columns]

In [5]:
#Data cleaning is done. Now need to create suitable model to predict.
# But before prediction, divide the data into training and testing data. for that, we need to import libraries.

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(data.Message,data.Spam,test_size=0.25)

#Remember, always split data in 1:3 ==> testing : training. 
#Because, to train model we require more data inorder to max prediction further.

In [6]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline
clf=Pipeline([
    ('vectorizer',CountVectorizer()),
    ('nb',MultinomialNB())
])

In [7]:
clf.fit(X_train,y_train)
# here we are trying to fit model with training and testing data

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [8]:
emails=["WINNER!! As a valued network customer you have been selected to receivea Â£900 prize reward! To claim call 09061701461. Claim code KL341. Valid 12 hours only."]

In [9]:
clf.predict(X_test)

array([0, 0, 0, ..., 1, 0, 1], dtype=int64)

In [10]:
prediction=clf.predict(emails)
prediction

if prediction == 1:
    print('spam')
else:
    print('safe')

spam